html {

	overflow-x: hidden;
}

#forty-dreams-logo {
	position: fixed;
	width: 1600px;
	height: 75px;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

#forty-dreams-text {

	position: fixed;
	font-size: 25px;
	font-family: Bahnschrift;
	top: -8px;
	left: 125px;
	bottom: 100px;
	color: #FFFFFF;
	z-index: 1001;

}

#catering-text {

	position: fixed;
	font-size: 20px;
	top: 25px;
	left: 145px;
	font-family: Bahnschrift;
	color: #72C6E5;
	z-index: 1002;


}


#home-header {

	color: #FFFFFF;
	position: fixed;
	right: 625px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}


#about-header {

	color: #FFFFFF;
	position: fixed;
	right: 550px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}

#menu-header {

	color: #FFFFFF;
	position: fixed;
	right: 475px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}


#blog-header {

	color: #FFFFFF;
	position: fixed;
	right: 400px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}



#contact-header {

	color: #FFFFFF;
	position: fixed;
	right: 300px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}

#twitter-logo {

	position: fixed;
	height: 25px;
	right: 225px;
	top: 25px;
	z-index: 1100
}


#forty-dream-body-background-image {

	position: absolute;
	top: 75px;
	width: 1300px;
	height: 535px;
	right: -35px;
	
}


#footer-text {

	font-family: Bahnschrift;
	font-size: 22px;
	font-weight: bolder;
	color: #525050;
	position: relative;
	top: 360px;
	left: 50px;
}

#amerigroup-icon {

	position: absolute;
	width: 140px;
	height: 65px;
	bottom: -382px;
	left: 400px;
}

#united-healthcare-icon  {

	position: absolute;
	width: 151px;
	height: 71px;
	bottom: -382px;
	left: 600px;
}

#order-button {

	position: absolute;
	font-family: Bahnschrift;
	left: 650px;
	top:300px;
	font-size: 15px;
	white-space: nowrap;

}

#more-info-button {

	height: 40px;
	position: absolute;
	top: 165px;
	right: -38px;
}

#more-info-button-text {

	position: absolute;
	font-family: Bahnschrift;
	top: 165px;
	font-size: 16px;
	left: -72px;
	color: #FFFFFF;
	bottom: 100px;

}


#gourmet-meals {

	position: absolute;
	font-size: 50px;
	color: #1E233F;
	top: 60px;
	left: 175px;
	font-family: Bahnschrift;
	bottom: 100px;

}

#delivered-to-you {

	position: absolute;
	font-size: 46px;
	text-shadow: 1px 1px #000000;
	font-family: Bahnschrift;
	color: #FFFFFF;
	top: 120px;
	left: 210px;
	bottom: 100px;


}

#sign-in-button {

	position: absolute;
}



#gourmet-entree {

	position: absolute;
	top: 879px;
	left: -8px;
	height: 275px;
}

#our-mission-header {

	position: absolute;
	font-family: Bahnschrift;
	top: 625px;
	left: 525px;
}

#our-mission-text {
	position: absolute;
	font-family: Bahnschrift;
	color: #F7980E;
	text-align: center;
	font-size: 35px;
	top: 675px;
	left: 390px;
}

#our-mission-text2 {
	position: absolute;
	font-family: Bahnschrift;
	font-stretch: extra-expanded;
	text-align: center;
	font-size: 25px;
	top: 850px;
	left: 350px;
}

.arrow{
    position: absolute;
    top: 1055px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #F7980E;
    border-right: 5px solid #F7980E;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
