html {

	overflow-x: hidden;
}

#forty-dreams-logo {
	position: relative;
	left: 0px;
	top: -12px;
	height: 78px;
	width: 1800px;
}

h1 {
	font-size: 24px;
	font-family: Bahnschrift;
	color: #FFFFFF;
	position: relative;
	left: 125px;
	bottom: 100px;
}

h2 {
	font-size: 20px;
	font-family: Bahnschrift;
	color: #72C6E5;
	position: relative;
	left: 140px;
	bottom: 115px;
}

#forty-dreams-headers {
	position: relative;
	right: 20px;
	bottom: -3px;
}

.header-text {

	color: #FFFFFF;
	position: relative;
	top: 5px;
	right: 100px;
	float: right;
	font-family: Bahnschrift;

}

#home-header {

	position: relative;
	right: 500px;
	top: -185px;
	font-size: 15px;
}

#about-header {

	position: relative;
	right: 400px;
	top: -219px;
	font-size: 15px;
}

#menu-header {

	position: relative;
	right: 300px;
	top: -253px;
	font-size: 15px;
}

#blog-header {

	position: relative;
	right: 200px;
	top: -287px;
	font-size: 15px;
}

#contact-header {

	position: relative;
	right: 100px;
	top: -321px;
	font-size: 15px;
}

#forty-dream-body-background-image {

	position: absolute;
	top: 65px;
	width: 1300px;
	height: 535px;
}

#footer-text {

	font-family: Bahnschrift;
	font-size: 22px;
	font-weight: bolder;
	color: #525050;
	position: relative;
	top: 360px;
	left: 50px;
}

#amerigroup-icon {

	position: absolute;
	width: 140px;
	height: 65px;
	bottom: -382px;
	left: 400px;
}

#united-healthcare-icon  {

	position: absolute;
	width: 151px;
	height: 71px;
	bottom: -382px;
	left: 600px;
}

#order-button {

	position: absolute;
	font-family: Bahnschrift;
	left: 650px;
	top:300px;
	font-size: 15px;
	white-space: nowrap;

}

#order-button-text {

	color: red;
}

#more-info-button {

	height: 30px;
	position: absolute;
	top: 150px;
	right: -50px;
}

#more-info-button-text {

	position: absolute;
	top: 149px;
	font-size: 13px;
	left: -35px;
}
