html {

	overflow-x: hidden;
}

#forty-dreams-logo {
	position: fixed;
	width: 1600px;
	height: 75px;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

#forty-dreams-text {

	position: fixed;
	font-size: 25px;
	font-family: Bahnschrift;
	top: -8px;
	left: 125px;
	bottom: 100px;
	color: #FFFFFF;
	z-index: 1001;

}

#catering-text {

	position: fixed;
	font-size: 20px;
	top: 25px;
	left: 145px;
	font-family: Bahnschrift;
	color: #72C6E5;
	z-index: 1002;


}

 #side-nav-bar1 {

 	z-index: 999;
 	position: absolute;
 	top: 300px;
 	right: 15px;
 	height: 13px;
 	

 }

  #side-nav-bar2 {

  	z-index: 999;
 	position: absolute;
 	top: 330px;
 	right: 15px;
 	height: 13px;

 	
 }

  #side-nav-bar3 {

 	z-index: 999;
 	position: absolute;
 	top: 360px;
 	right: 14.5px;
 	height: 13px;
 	
 }

  #side-nav-bar-p2-1 {

 	z-index: 999;
 	position: absolute;
 	top: 865px;
 	right: 15px;
 	height: 13px;
 	

 }

  #side-nav-bar-p2-2 {

  	z-index: 999;
 	position: absolute;
 	top: 895px;
 	right: 15px;
 	height: 13px;

 	
 }

  #side-nav-bar-p2-3 {

 	z-index: 999;
 	position: absolute;
 	top: 925px;
 	right: 14.5px;
 	height: 13px;
 	
 }

   #side-nav-bar-p3-1 {

 	z-index: 999;
 	position: absolute;
 	top: 1430px;
 	right: 15px;
 	height: 13px;
 	

 }

  #side-nav-bar-p3-2 {

  	z-index: 999;
 	position: absolute;
 	top: 1460px;
 	right: 15px;
 	height: 13px;

 	
 }

  #side-nav-bar-p3-3 {

 	z-index: 999;
 	position: absolute;
 	top: 1490px;
 	right: 14.5px;
 	height: 13px;
 	
 }

#home-header {

	color: #FFFFFF;
	position: fixed;
	right: 625px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}

#home-underline {

	border-size: 30px;
	z-index: 4000;
	position: relative;
	right: 625px;
	top: 13px;
	width: 10px;
	background-color: black;

}



#about-header {

	color: #FFFFFF;
	position: fixed;
	right: 550px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}

#menu-header {

	color: #FFFFFF;
	position: fixed;
	right: 475px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}


#blog-header {

	color: #FFFFFF;
	position: fixed;
	right: 400px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}



#contact-header {

	color: #FFFFFF;
	position: fixed;
	right: 300px;
	top: 13px;
	font-size: 16px;
	font-family: Bahnschrift;
	z-index: 1100
}

#twitter-logo {

	position: fixed;
	height: 25px;
	right: 215px;
	top: 25px;
	z-index: 1100
}

.container{
 position: absolute;
}
li{
 display: inline-block;
}
li a{
 display: inline-block;
 text-decoration: none;
 font-weight: lighter;
 font-size: 20px;
 padding: 0 20px;
}
.cool-link::after{
z-index: 4000;
 content: "";
 display: block;
 width: 0;
 height: 2px;
 background: #fff;
 transition: width .3s;
}
.cool-link:hover::after{
 z-index: 4000;
 width: 100%;
 transition: width .3s;
}

#sign-in {
	z-index: 1400;
	border-radius: 12px;
	border: 0px solid;
	background-color: #1E233F;
	color: white;
	font-family: Bahnschrift;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 25px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	position: fixed;
	right: 50px;
	top: 20px;
}
/*
#sign-up {
	z-index: 1400;
	border-radius: 12px;
	border: 0px solid;
	background-color: #1E233F;
	color: white;
	font-family: Bahnschrift;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 25px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	position: fixed;
	right: 25px;
	top: 20px;
}
*/

#forty-dream-body-background-image {

	position: absolute;
	top: 75px;
	width: 1300px;
	height: 542px;
	right: -30px;
	
}


#footer-text {

	font-family: Bahnschrift;
	font-size: 22px;
	font-weight: bolder;
	color: #525050;
	position: relative;
	top: 590px;
	left: 250px;
}

#amerigroup-icon {

	position: absolute;
	width: 140px;
	height: 65px;
	top: 665px;
	left: 600px;
}

#united-healthcare-icon  {

	position: absolute;
	width: 151px;
	height: 71px;
	top: 660px;
	left: 800px;
}

#order-button {

	position: absolute;
	font-family: Bahnschrift;
	left: 650px;
	top:300px;
	font-size: 15px;
	white-space: nowrap;

}

#more-info-button {

	height: 40px;
	position: absolute;
	top: 165px;
	right: -38px;
}

#more-info-button-text {

	position: absolute;
	font-family: Bahnschrift;
	top: 165px;
	font-size: 16px;
	left: -74px;
	color: #FFFFFF;
	bottom: 100px;

}


#gourmet-meals {

	position: absolute;
	font-size: 50px;
	color: #1E233F;
	top: 60px;
	left: 175px;
	font-family: Bahnschrift;
	bottom: 100px;

}

#delivered-to-you {

	position: absolute;
	font-size: 46px;
	text-shadow: 1px 1px #000000;
	font-family: Bahnschrift;
	color: #FFFFFF;
	top: 120px;
	left: 210px;
	bottom: 100px;


}


#gourmet-entree {

	position: absolute;
	top: 895px;
	left: -8px;
	height: 250px;
}

#our-mission-header {

	position: absolute;
	font-family: Bahnschrift;
	top: 750px;
	left: 525px;
}

#our-mission-text {
	position: absolute;
	font-family: Bahnschrift;
	color: #F7980E;
	text-align: center;
	font-size: 35px;
	top: 820px;
	left: 390px;
}

#our-mission-text2 {
	position: absolute;
	font-family: Bahnschrift;
	font-stretch: extra-expanded;
	text-align: center;
	font-size: 25px;
	top: 1000px;
	left: 350px;
}

.arrow{
    position: absolute;
    top: 1200px;
    left: 50.5%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #F7980E;
    border-right: 5px solid #F7980E;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }

#side-nav-bar1 {

 	z-index: 3000;
 	position: absolute;
 	right: 10px;
 	height: 100px;
 	background-color: purple;

}

 #header {
 	z-index: 5000
 	border: 5px;
 	border-color: black;
 }

#menu-textbox1 {

	height: 200px;
	width: 200px;
	background-color: red;
	color: red;
	border: 2px solid black;
	position: relative;
	top: 33%;
	left: 33%;
}



